<p>
    ✅Physical/Online Combo Offer ( Graphic Design + Digital Marketing )
✅Fully Job Oriented
✅Internship Available After the completion of Course
✅Learning by doing
_________________________________________________
🕝Duration: 3 Months | 2 Hours / Day
✅WhatsApp / Phone Call for More details
📞9851344071 / 9818968546
✅Book Your Seat:
https://sipalaya.com/it-courses-training-internship.../
For Physical ( up to 50% Off )
For Online ( up to 60% Off )
✅For more information
________________________
Contact Details:-
🏚 Nearby CCRC College Balkumari Bridge,
Koteshwor, Kathmandu Nepal
WhatsApp/Phone Call
📞9851344071 / 9818968546
Phone Call:
📞9860552717 / 9860267997
💌infotech@sipalaya.com
🌐https://sipalaya.com/
🗺Google Map Link:
https://lnkd.in/gd8emv8y
</p>